// global
body {
    overflow-y: overlay;
    padding-right: 10px;
}

// Functions
@function get-hover-color($color) {
    @return lighten($color, 40%);
}

@function get-active-color($color) {
    @return lighten($color, 37%);
}

.clickable {
    cursor: pointer;
}

.border-2 {
    border: 2px solid transparent !important;
}

.border-3 {
    border: 3px solid transparent !important;
}

.border-4 {
    border: 4px solid transparent !important;
}

::-webkit-input-placeholder {
    color: map-get($tw-colors, 'tw-secondary') !important;
}

:-ms-input-placeholder {
    color: map-get($tw-colors, 'tw-secondary') !important;
}

::placeholder {
    color: map-get($tw-colors, 'tw-secondary') !important;
}

body {
    &.modal-openning {
        overflow: hidden;
    }
}
