$section-header-width: 53px;

$tw-colors: (
    tw-primary: #1da1f2,
    tw-success: #17bf63,
    tw-danger: #e0245e,
    tw-light: #f5f8fa,
    tw-light-hover: #f5f8fa,
    tw-light-active: #e1e8ed,
    tw-secondary: #aab8c2,
);
