@import './variables';

:export {
    twPrimary: map-get($tw-colors, 'tw-primary');
    twSuccess: map-get($tw-colors, 'tw-success');
    twDanger: map-get($tw-colors, 'tw-danger');
    twLight: map-get($tw-colors, 'tw-light');

    maxInnerPostWidth: 550px;
}

// Functions
@function get-hover-color($color) {
    @return lighten($color, 40%);
}

@function get-active-color($color) {
    @return lighten($color, 37%);
}

.clickable {
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: map-get($tw-colors, 'tw-secondary') !important;
}

:-ms-input-placeholder {
    color: map-get($tw-colors, 'tw-secondary') !important;
}

::placeholder {
    color: map-get($tw-colors, 'tw-secondary') !important;
}
