.tw-list-group {
    background: rgba(0, 0, 0, 0);

    .tw-list-group-item {
        background: transparent;
        border: none;

        &:not(.list-header):hover {
            background: rgba(0, 0, 0, 0.03);
        }

        &:not(.list-header):active {
            background: rgba(0, 0, 0, 0.05);
        }
    }
}
