.tw-search-input {
    %icon {
        position: absolute;
        top: 10px;
    }

    .search-icon {
        @extend %icon;

        left: 10px;
    }

    .clear-icon {
        @extend %icon;

        right: 10px;

        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input:focus {
        background: transparent !important;
    }
}

.tw-search-result {
    position: absolute !important;
    top: 100%;
    left: 0;
    width: 100%;

    margin-top: 1px;

    z-index: 1;
}
