.tw-search-input {
    %icon {
        position: absolute;
        top: 25%;
    }

    .search-icon {
        @extend %icon;

        left: 15px;
    }

    .clear-icon {
        @extend %icon;

        right: 10px;

        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input {
        font-size: 100%;
    }

    input:focus {
        background: transparent !important;
    }
}

.tw-search-result {
    position: absolute !important;
    top: 100%;
    left: 0;
    width: 100%;

    margin-top: 1px;

    z-index: 1;
}

.search-result:last-of-type {
    border-bottom: none !important;
}
